body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2980b9; /* Fallback color */
    background-image: linear-gradient(135deg, #2980b9 0%, #2c3e50 100%);
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #fff;
}


body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('cover3.png');
    opacity: 0.1;
    pointer-events: none;
}

#startup-content {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

#startup-content img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

h1 {
    font-size: 36px;
    animation: slideIn 1.5s ease-in-out, pulse 1s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
